body{
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
}
.up{
    width: 100%;
    height: 500px;
    color: white;
}
.beau h1{
    font-size: 80px;
    color: black;
}
.beau p{
    font-size: 20px;
    margin-left: 70px;
    color: black;
}
.writeups{
    margin-top: 100px;
    text-align: center;
}
#left{
    border-radius: 40%;
}
.pic{
    margin-left: 40px;
}
.body{
    margin-left: 80px;
    margin-top: 100px;
}
.ok{
    width: 1000px;
    height: fit-content;
    margin-left: 100px;
}
#right{
    margin-left: 90px;
}
footer{
    width: 100%;
    margin-top: 70px;
    background-color: pink;
    height: 300px;
    text-align: center;
    padding-top: 30px;
}
footer ul{
    display: flex;
    margin-left: 50px;
}
footer ul li{
    margin-left: 50px;
}
.big{
    font-size: 40px;
}